In [6]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
#from sklear.cross_validation import train_test.split (depricated) 
from sklearn.model_selection import train_test_split

In [8]:
dataset=pd.read_csv('data/titanic.csv')

In [9]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
dataset.shape

(891, 12)

In [17]:
X=pd.DataFrame()
X['PassengerId']=dataset['PassengerId']
X['Sex']=dataset['Sex']
X['Age']=dataset['Age']
X['Survived']=dataset['Survived']

In [23]:
X.dropna(inplace=True)

In [24]:
Y=X['Survived']

In [28]:
X=X.drop(['Survived'],axis=1)

In [30]:
X.head()

   PassengerId     Sex   Age
0            1    male  22.0
1            2  female  38.0
2            3  female  26.0
3            4  female  35.0
4            5    male  35.0

In [36]:
X['Sex']=pd.get_dummies(X.Sex)

In [37]:
X

     PassengerId  Sex   Age
0              1    1  22.0
1              2    0  38.0
2              3    0  26.0
3              4    0  35.0
4              5    1  35.0
6              7    1  54.0
7              8    1   2.0
8              9    0  27.0
9             10    0  14.0
10            11    0   4.0
11            12    0  58.0
12            13    1  20.0
13            14    1  39.0
14            15    0  14.0
15            16    0  55.0
16            17    1   2.0
18            19    0  31.0
20            21    1  35.0
21            22    1  34.0
22            23    0  15.0
23            24    1  28.0
24            25    0   8.0
25            26    0  38.0
27            28    1  19.0
30            31    1  40.0
33            34    1  66.0
34            35    1  28.0
35            36    1  42.0
37            38    1  21.0
38            39    0  18.0
..           ...  ...   ...
856          857    0  45.0
857          858    1  51.0
858          859    0  24.0
860          861    1  41.0
861          862    1  21.0
862          863    0  48.0
864          865    1  24.0
865          866    0  42.0
866          867    0  27.0
867          868    1  31.0
869          870    1   4.0
870          871    1  26.0
871          872    0  47.0
872          873    1  33.0
873          874    1  47.0
874          875    0  28.0
875          876    0  15.0
876          877    1  20.0
877          878    1  19.0
879          880    0  56.0
880          881    0  25.0
881          882    1  33.0
882          883    0  22.0
883          884    1  28.0
884          885    1  25.0
885          886    0  39.0
886          887    1  27.0
887          888    0  19.0
889          890    1  26.0
890          891    1  32.0

[714 rows x 3 columns]

In [39]:
train_X,test_X,train_Y,test_Y=train_test_split(X,Y,test_size=0.2)

In [40]:
train_X.shape

(571, 3)

In [41]:
train_Y.shape

(571,)

In [42]:
test_X.shape

(143, 3)

In [43]:
test_Y.shape

(143,)

In [44]:
classifier=LogisticRegression()

In [45]:
classifier.fit(train_X,train_Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [46]:
classifier.score(train_X,train_Y)

0.76357267950963226

In [47]:
classifier.score(test_X,test_Y)

0.84615384615384615

In [48]:
pred=classifier.predict(test_X)

In [49]:
pred

array([1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1], dtype=int64)

In [50]:
from sklearn.metrics import accuracy_score

In [53]:
accuracy_score(test_Y,pred)

0.84615384615384615